<h2><center><%=@merchant.name%> Bulk Discounts Index <center></h2>
<hr>

<div style="position:fixed; padding: 1em; top: 0; right: 0;">
  <strong><%= link_to 'Create New Discount', new_merchant_bulk_discount_path("#{@merchant.id}") %></strong>
</div>

<% @merchant.bulk_discounts.each do |bulk_discount| %>
  <div id="discount-list-<%= bulk_discount.id %>" >
    <strong><%= link_to bulk_discount.discount_name, "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}" %></strong>
    <ul>Percentage: <%= bulk_discount.percentage %></ul>
    <ul>Quantity Threshold: <%= bulk_discount.quantity_threshold %></ul>
  </div>
<% end %>